asyncio
dotenv
nest-asyncio
numpy
openai
pydantic
python-dotenv
requests
streamlit
tqdm
uvicorn
PyPDF2
wikipedia
pinecone-client
pinecone
groq
google-generativeai
langchain
langchain-community
langchain-core
arxiv
groq
google-generativeai
wikipedia
transformers
sentence-transformers
transformers
transformers 
torch
langchain_huggingface


